<<<<<<< 1c57ded3e29a01fb565810f87d3dce80058eef14
<<<<<<< ea34760f42a8350e4486c00bc2cf7eeb2ac794ef
/* starting */
=======
/// Pics
 //
 // Une image avec sa légende
 //
 // Markup:
 // <figure class="pics">
 //   <img class="pics-img" alt="" src="http://lorempixel.com/400/200/"/>
 //   <figcation class="pics-legend">
 //     Legende
 //   </figcaption>
 // </figure>
 //
 // Style guide: Button
>>>>>>> kss
.pics {
  display: flex;

  &-img {
    width: 100%;
    height: auto;
  }

  &-legend {
    color: black;
  }
}
=======
/* starting */
>>>>>>> afterwards a reset...
