/// Pics
//
// Une image avec sa légende
//
// Markup:
// <figure class="pics">
//   <img class="pics-img" alt="" src="http://lorempixel.com/400/200/"/>
//   <figcation class="pics-legend">
//     Legende
//   </figcaption>
// </figure>
//
// Style guide: Button

$color-black: #000;

.pics {
  display: flex;
  
  &-img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &-legend {
    display: block;
    color: black;
  }
}
