<<<<<<< ea34760f42a8350e4486c00bc2cf7eeb2ac794ef
/* starting */
.pics {
  display: flex;

  &-img {
    width: 100%;
    height: auto;
  }

  &-legend {
    color: black;
  }
}
=======
/* starting */
>>>>>>> afterwards a reset...
